.homeIcon {
  cursor: pointer;
  margin: 10px;
  height: 15px;
  width: 15px;
  margin-right: 200px;
  visibility: none;
}

.navItems {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 12px 0px;
  cursor: pointer;
}

.navItemBar {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 12px 0px;
  cursor: pointer;
}

.navItemsActive {
  display: flex;
  text-decoration: none;
  align-items: center;
  font-size: 1.5rem;
  padding: 12px 0px;
  cursor: pointer;
  color: white;
  background-color: black;
}

.navItemsActive:hover {
  color: white;
}

.navItems:hover {
  color: black;
  background-color: rgba(0, 0, 0, 0.1);
}

.navIcons {
  margin-right: 10px;
  margin-left: 5px;
}

.navImage {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  border: solid 2px black;
  margin-right: 10px;
  margin-left: 5px;
}

/* @media only screen and(max-width:1070px) {
  .homeIcon {
    visibility: visible;
  }
} */
